{% load static %}
<!DOCTYPE html>
<html>
<head>
	{% if title %}
		<title>Recipe - {{ title }}</title>
	{% else %}
		<title>Recipe</title>
	{% endif %}

	{% block css %} {% endblock css %}
</head>
<body>
	<header id="main-header">
		<div class="mycontainer">
			<h1><a href="{% url 'food_recipe-home' %}">Food Recipes</a></h1>
		</div>
	</header>

	<nav id="mynavbar">
		<div class="mycontainer">
			<div id="mynavbar-left">
				<ul>
					<li id="highlight"><a href="{% url 'food_recipe-home' %}">Home</a></li>
				</ul>
			</div>
			<div id="mynavbar-right">
				<ul>
					{% if request.user.is_authenticated %}
						<li id="highlight"><a href="{% url 'recipe-create' %}">New Recipe</a></li>
						<li id="highlight"><a href="{% url 'profile' %}">Profile</a></li>
						<li id="highlight"><a href="{% url 'logout' %}">Logout</a></li>
					{% else %}
						<li id="highlight"><a href="{% url 'login' %}">Login</a></li>
						<li id="highlight"><a href="{% url 'register' %}">Register</a></li>
					{% endif %}
				</ul>
			</div>
		</div>
	</nav>

	{% block content %} {% endblock content %}

	<footer id="main-footer">
		<p>Copyright &copy; 2019 Food Recipe</p>
	</footer>

	{% block script %} {% endblock script %}
</body>
</html>
