{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel="stylesheet" type="text/css" href="{% static 'food_recipe/style.css' %}">
</head>
<body>
	<header id="main-header">
		<div class="container">
			<h1>Food Recipes</h1>
		</div>
	</header>

	<nav id="navbar">
		<div class="container">
			<div id="navbar-left">
				<ul>
					<li><a href="#">Home</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">Contact</a></li>
				</ul>
			</div>
			<div id="navbar-right">
				<ul>
					<li><a href="#">Login</a></li>
					<li><a href="#">Register</a></li>
				</ul>
			</div>
		</div>
	</nav>

	<section id="showcase">
		<div class="container">
		</div>
	</section>

	<div class="container">
		<section id="main">
			<h1>List of Recipes</h1>
			{% for post in posts %}
				<div id="card">
					<img class="card-image" src="{{ post.image }}">
					<h1>{{ post.title }}</h1>
					<div id="card-footer">
						<p>By {{ post.author }}</p>
						<p>On {{ post.date_posted }}</p>
					</div>
				</div>
			{% endfor %}
		</section>
	</div>

	<footer id="main-footer">
		<p>Copyright &copy; 2017 Food Recipe</p>
	</footer>
</body>
</html>