{% extends "food_recipe/base.html" %}	
{% block content %}
	<section id="showcase">
		<div class="container">
		</div>
	</section>

	<div class="container">
		<section id="main">
			<h1>List of Recipes</h1>
			{% for post in posts %}
				<div id="card">
					<img class="card-image" src="{{ post.recipe_image.url }}">
					<h1>{{ post.recipe_name }}</h1>
					<div id="card-footer">
						<p>By {{ post.recipe_author }}</p>
						<p>On {{ post.date_posted|date:"F d, Y" }}</p>
					</div>
				</div>
			{% endfor %}
		</section>
	</div>
{% endblock content %}
